/* GLOBAL Style */
body,html{
  overflow-x: hidden;
}
*:hover{
  transition: all .3s linear;
}

/* Header Bloc */
header{
  width: 100%;
  background-color: #31333B;
  height: 42px;
  padding: 5px;
  position: relative;
}
header .logoHeader, footer .logoFooter{
  float: left;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
header .navigation{
  position: absolute;
  vertical-align: middle;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
header .arrowLeft, header .arrowRight{
  background-color: #4A4C54;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
header .arrowLeft:hover, header .arrowRight:hover{
  background-color: #7c808d;
}

/* Footer Bloc */
footer{
  width: 100%;
  background-color: #31333B;
  height: 42px;
  padding: 5px;
  position: absolute;
  bottom: 0;
}
footer .voirProfil:hover{
  background-color: #44474e;
}
footer .voirProfil{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  right: 15px;
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
}
footer .voirProfil .iconFooterRight{
  position: relative;
  top:3px;
}
.content{
  height: calc(100vh - 104px);
  width: 100%;
  background-color: #7c808d;
}
.col-1{
  height: 33.33%;
  background-color: red;
}
